
html, body {
	width: 100%;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6, em {color: #23527c;}

a, a:hover, a:focus, a:active, a:visited {
	text-decoration: none; 
	outline: none;
}

.navbar-brand {padding: 0px;}

ul.navbar-right > li {
	float: right;
	margin-right: 10px;
	line-height: 50px;
	list-style: none;
}

main {
	margin-top: 50px;
	margin-bottom: 50px;
}

h1 {text-decoration: underline;}

em[itemprop="name"] {font-size: 18px;}

blockquote {
	padding-left: 0px; 
	border: none;
}

blockquote img.thumbnail {
	display: inline;
	height: 30px;
	width: auto;
	margin: 10px 10px 10px 0px;
}

.thumbnail {max-width: 100%;}

.panel,
.panel-default,
.panel-title,
.panel-default > .panel-heading,
.list-group-item,
.panel .panel-default {
	background-color: #fff !important;
	border: none !important;
	border-radius: 0px !important;
}

.panel-body {
	padding-top: 0px !important;
}

h4.portfolio-link {
	margin-left: 20px;
}

.list-group-item {
	padding-bottom: 0px !important;
}

span.period {
	color: #666;
}

span.worksFor {
	color: #666;
}

footer {min-height: 50px;}

footer p {
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
}
